body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    background-image: url(../Images/Header/header1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* MENU */
nav{
    width: 100vw;
    height: 7vh;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.main_menu{
    line-height: 7vh;
    height: 7vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.menu_bar{
    height: 5px;
    border-radius: 100px;
    background-color: #000000;
    width: 0%;
    transition-property:width, background-color;
    transition-duration: 1s;
}
.menu_bar_fixe{
    height: 5px;
    border-radius: 100px;
    background-color: #FF00D1;
    width: 100%;
}
.main_menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
span{
    width: 100%%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sous_menu{
    background-color: #000000;
    text-align: center;
    height: 7vh;
    width: 100%;
    display: none;
    background-color: white;
    box-shadow: 0px 2px 5px black;
    transition-property: background-color, color;
    transition-duration: 1s;
}
.sous_menu a {
    transition: color 1s;
}


.main_menu:hover > span a{
    color: #FF00D1;
}
.main_menu:hover .menu_bar{
    width: 100%;
    background-color: #FF00D1;
}
.main_menu:hover .sous_menu{
    display: block;
}
.sous_menu:hover > a{
    color: white;
}
.sous_menu:hover {
    background-color: #FF00D1;
}
/* ************  */



header{
   /* background-color: #FF686D; */
   display: flex;
   justify-content: center;
    width: 100vw;
    height: 80vh;
}
header div{
    display: flex;
    align-items: center;
}
header div img{
    width: 100%;
    height: 80%;
}

main{
    width: 100vw;
}
.contenu{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
}
.titre_contenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 3em;
}
.s_contenu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75%;
}
.ss_contenu{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ss_contenu > img{
    width: 200px;
    height: 200px;
    border: 1 px solid black;
    border-radius: 100px;
}

.contenu:nth-of-type(4n+1){
    background-color: rgb(255, 255, 255);
}
.contenu:nth-of-type(4n+2){
    color: white;
    background-color: #FF249B;
}
.contenu:nth-of-type(4n+3){
    background-color: white;
}
.contenu:nth-of-type(4n+4){
    background-color: #FF686D;
}


footer{
    background-color: black;
    height: 14vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.div_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    text-decoration: underline;
    color: white;
    width: 25%;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
}
.logo_RS{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
}
.logo{
    height: 40px;
    width: 40px;
}


