body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #660066;
}


#body_Accueil{
    background-image: url(../Images/Header/header_Accueil.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#body_APropos{
    background-image: url(../Images/Header/header_APropos.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 80%;
}
#body_Contact{
    background-image: url(../Images/Header/header_Contact.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 80%;
}
#body_ContactChat{
    background-image: url(../Images/Header/header_ContactChat.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#body_ContactChatFemelle{
    background-image: url(../Images/Header/header_ContactChat.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#body_ContactChatMale{
    background-image: url(../Images/Header/header_ContactChat.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#body_ContactChien{
    background-image: url(../Images/Header/header_ContactChien.png);
    background-attachment: fixed;
    background-size: cover;
}
#body_ContactChienFemelle{
    background-image: url(../Images/Header/header_ContactChien.png);
    background-attachment: fixed;
    background-size: cover;
}
#body_ContactChienMale{
    background-image: url(../Images/Header/header_ContactChien.png);
    background-attachment: fixed;
    background-size: cover;
}
#body_Inscription{
    background-image: url(../Images/Header/header_Inscription.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 80%;

}
#body_Error404{
    background-image: url(../Images/Header/header_Error404.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 80%;

}



/* MENU */

.navbardesktop {
    width: 100vw;
    height: 7vh;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}
.main_menu{
    line-height: 7vh;
    height: 7vh;
    display: flex;    
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.menu_bar{
    height: 5px;
    border-radius: 100px;
    background-color: #660066;
    width: 0%;
    transition-property:width, background-color;
    transition-duration: 1s;
}
.menu_bar_fixe{
    height: 5px;
    border-radius: 100px;
    background-color: #FF00D1;
    width: 100%;
}
.main_menu a{
    text-decoration: none;
    color: #660066;
    font-weight: bold;
}
span{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sous_menu{
    background-color: #660066;
    text-align: center;
    height: 7vh;
    width: 100%;
    display: none;
    background-color: white;
    box-shadow: 0px 2px 5px #660066;
    transition-property: background-color, color;
    transition-duration: 1s;
}
.sous_menu a {
    transition: color 1s;
}
.main_menu:hover > span a{
    color: #FF00D1;
}
.main_menu:hover .menu_bar{
    width: 100%;
    background-color: #FF00D1;
}
.main_menu:hover .sous_menu{
    display: block;
}
.sous_menu:hover > a{
    color: white;
}
.sous_menu:hover {
    background-color: #FF00D1;
}

nav div a img {
    filter: invert(13%) sepia(41%) saturate(7447%) hue-rotate(291deg) brightness(74%) contrast(112%);
}
/* ************  */



header{
   /* background-color: #FF686D; */
   display: flex;
   justify-content: center;
    width: 100vw;
    height: 80vh;
}
header div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header div img{
    margin-top: 10vh;
    width: 60vw;
    height: 32em;
    filter: invert(13%) sepia(41%) saturate(7447%) hue-rotate(291deg) brightness(74%) contrast(112%);
    z-index:-5;
}

main{
    width: 100vw;
}
.contenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
.titre_contenu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25%;
    font-size: 2.8em;
}
.s_contenu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75%;
}
.ss_contenu{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ss_contenu > img{
    width: 200px;
    height: 200px;
    border: 1 px solid black;
    border-radius: 100px;
}

.contenu:nth-of-type(4n+1){
    background-color: rgb(255, 255, 255);
}
.contenu:nth-of-type(4n+2){
    color: white;
    background-color: #FF249B;
}
.contenu:nth-of-type(4n+3){
    background-color: white;
}
.contenu:nth-of-type(4n+4){
    background-color: #FF686D;
}


footer{
    background-color: black;
    height: 130px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.div_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    text-decoration: underline;
    color: white;
    width: 25%;
    height: 100%;
}
.logo_RS{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
}
.logo{
    height: 40px;
    width: 40px;
}





/* **** Menu Navbarmobile **** */

.navbarmobile {
    display:none;
}

.burger{
    display: flex;
    float: right;
    margin: 5%;
    justify-content:center;
    flex-direction: column;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: white;
    line-height: 2%;
    padding: 4px;
    padding-left: 12px;
}



.burgerline{
    display: block;
    margin-top: 10%;
    height: 4px;
    width: 30px;
    background-color: #660066;
    border-radius: 10px;
}



.navbarmobile ul {
    position:sticky;
    box-shadow: 2px 3px 10px #660066;
}

nav ul:hover {
    margin-top: 20px;
    display:block;
}


nav ul li {
    display:none;
    width: 5em;
    text-decoration: none;
    font-weight: bold;
}


    nav ul:hover .burgerline {
        margin-left: 5%;
        width: 5em;
        margin-top: 10%;
        height: 4px;
        width: 30px;
        background-color:#FF00D1;
        border-radius: 4px;
    }

    nav ul:hover li {
        background-color: white;
        border-radius: 0.2em;
        display:list-item;
        height: 2em;
        width: 15em;
        text-align:left;
        margin-left: -13em;
        list-style-type:none;
        font-size: 2em;
        line-height: 2em;
        text-indent: 1em;
    }



    nav ul li a {
        color: #660066;
        text-decoration: none;
    }


    nav ul li a:hover {
        color: #FF249B;
    }

    nav ul li span{
            display: none;
            height: 5px;
            border-radius: 100px;
            background-color: #FF249B;
            width: 0%;
        }



        nav ul li:hover span {
            display:block;
            position:relative;
            animation: animationMenu_bar2 1s normal forwards;
            }


        .brmenu {
            font-size: 0.5em;
        }

                @keyframes animationMenu_bar2{
                0%{
                    width: 0%;
                }
                100%{
                    width: 75%;
                }
            }


/* DEBUT PAGE CONTACT CHAT et CHIEN*/
#header_ContactPet{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#header_ContactPet > div {
    width: 50%;
    height: 50%;
}
.contenu_ContactChat, .contenu_ContactChien{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ss_contenu_ContactPet{
    
    width: 40%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius:20px;
    box-shadow: 3px 3px 5px rgb(187, 187, 187);
    transform: scale(1);
    transition: box-shadow 0.3s linear,transform 0.3s linear;
}
.contenu_ContactChat div:nth-of-type(1){
    background-image: url(../Images/Contenu/ContactChat1.png);
    background-size: 100% 100%;
    text-shadow:2px 2px 2px #FF00D1;   
}
.contenu_ContactChat div:nth-of-type(2){
    background-image: url(../Images/Contenu/ContactChat2.png);
    background-size: 100% 100%;
    text-shadow:2px 2px 2px #3d93c8;    
}
.contenu_ContactChien div:nth-of-type(1){
    background-image: url(../Images/Contenu/ContactChien1.png);
    background-size: 100% 100%;
    text-shadow:2px 2px 2px #FF00D1;    
}
.contenu_ContactChien div:nth-of-type(2){
    background-image: url(../Images/Contenu/ContactChien2.png);
    background-size: 100% 100%;
    text-shadow:2px 2px 2px #3d93c8;  
}
.ss_contenu_ContactPet a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}


.ss_contenu_ContactPet:hover{
    box-shadow: 10px 10px 10px rgb(187, 187, 187);
    transform: scale(1.1);
}
/*FIN PAGE CONTACT CHAT et CHIEN*/


/*DEBUT PAGE A PROPOS*/
#test{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    text-align: center;
    font-size: 1.5em;
    background-color: white;
}
#test p{
    margin-left: 100px;
    margin-right: 100px;
}
#contenu_APropos{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.APropos_james{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.APropos_thibault{
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.APropos_thibault div:nth-of-type(1){
    width: 100%;
    text-align: justify;
}
.APropos_thibault div:nth-of-type(2){
    width: 35%;
}
#contenu_APropos p{
    font-size: 1.5em;
    margin: 30px;
}
/*FIN PAGE A PROPOS*/

/*DEBUT PAGE CONTACT CHAT GENRE*/
.contenu_contactChatFemelle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 1100px;
    height: 600px;
}
/*FIN PAGE CONTACT CHAT GENRE*/

/*DEBUT SLIDER*/
.carousel {
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    width: 750px;   
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth;
  }
  
  .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    height: 400px;
    justify-content: center;
    margin: 0 1rem;
    
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
  }
  
  .carousel__nav {
    padding: 1.25rem .5rem;
  }
  
  .slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;

    text-decoration: none;
    width: 1.5rem;
  }
  
  .slider-nav:hover,
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }
  
  .slide-1 {
   
  }
  
  .slide-2 {
  
  }
  
  .slide-3 {
    background-color: #cdf;
  }
  
  .slide-4 {
    background-color: #dca;
  }
  
  .slide-5 {
    background-color: #ffc;
  }
/*FIN SLIDER*/




/* **** Bouton Inscription Accueil **** */
            .bouton_inscription {
                text-decoration: none;
                height: 20px;
                width: 180px;
                padding: 10px;
                font-size: 1em;
                color: #FFFFFF;
                background-color: #FF249B;
                border-radius: 24px;
                border: 4px solid #FFFFFF;
                box-shadow: 3px 3px 12px #660066;
               display: block;
               position: fixed;
                margin-top: 10vh;
                margin-left: -78vw;
                text-indent: 5%;

                }

            .bouton_inscription:hover {
                padding: 10px;
                color: #FF249B;
                background-color: #e2cafb;
                border: 4px solid #660066;
                box-shadow: 1px 1px 4px #FF249B;
                }

           .bouton_inscription a {
                Text-Decoration: None;
                color: #FFFFFF;
               }

           .bouton_inscription:hover a{
               color: #660066;
                }

    /* **** text ***** */
    h1 {
        font-size: 5em;
    }

    .h1_header {
        margin: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
        text-shadow: 2px 4px 3px #ff249cd4;
        text-align: center;
    }

    h2{
        font-size: 2.5em;
        text-align: center;
    }




    /* **** formulaire ***** */
    form {
        width: 50vw;
    }

    input,
    select,
    textarea,
    input {
        background: #fff;
        color: #ff249B;
    }


    input:focus,
    input:hover,
    select:focus,
    select:hover,
    textarea:focus,
    textarea:hover,
    input[type="submit"]:focus,
    input[type="submit"]:hover,
    input[type="checkbox"]:hover,
    input[type="checkbox"]:focus,
    input[type='radio']:hover,
    input[type='radio']:focus {
        background: #ff249B;
        color: #fff;
        box-shadow:0 0 5px 0px #FF249B inset;
    }

    input[type="radio"],
    input[type="checkbox"] {
        -webkit-appearance:none;
        width:20px;
        height:20px;
        border:1px solid #660066;
        border-radius:50%;
        outline:none;
        box-shadow:0 0 5px 0px gray inset;
      }

    input[type='radio']:before,
    input[type='checkbox']:before {
        content:'';
        display:block;
        width:60%;
        height:60%;
        margin: 20% auto;
        border-radius:50%;
    }

    input[type='radio']:checked:before,
    input[type='checkbox']:checked:before {
        background:#660066;
      }

      input[type='checkbox'],
      input[type="checkbox"]:hover,
      input[type="checkbox"]:focus,
      input[type='checkbox']:before,
      input[type='checkbox']:checked:before {
      border-radius: 0%;
      }


    input[type="submit"] {
        font-size: 1.2em;
        padding: 0px 8px 0px 8px;
        height: 40px;
        border-radius: 30%/80%;
    }


    input:active,
    input:visited,
    input:checked {
        color: #ff249B;
    }



    /* **** Page Contact et page Inscription ***** */

    #contenu1_Contact,
    #contenu1_Inscription {
        margin-top: 5%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 125vh;
    }

    #formulaire_Contact,
    #formulaire_Inscription
     {
        background-color: #ff00d01a;
        color: #660066;

    }

    textarea {
        font-size:1em;
        height: 8vh;
        width: 45vw;
    }





    /* **** @media ***** */

    @media screen and (min-width: 768px) {
        .navbardesktop {
            display:flex;
        }
        header div a p {
            margin-top:0%;
        }

        header div a img {
            display:none;
        }
    }


    @media screen and (max-width: 768px) {
        .navbarmobile {
            display: block;
            width: auto;
            height: auto;
            position: fixed;
            margin-top: 4vh;
            margin-left: 85vw;
        }

        .navbardesktop {
            display:none;
        }



        header div a p {
            display:none;
        }

        header div a img {
            display:block;
            margin-top: 0.2vh;
            width: 50px;
            height: 50px;
            filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
        }

        header div img {
            margin-top: 12vh;
            width: 60vw;
            height: 20em;
        }

        header div:hover a img {
            filter: invert(13%) sepia(41%) saturate(7447%) hue-rotate(291deg) brightness(74%) contrast(112%);
        }
/*
        header div a img:active {
            filter: invert(52%) sepia(62%) saturate(7481%) hue-rotate(307deg) brightness(95%) contrast(114%);
        } */

        #formulaire_Contact,
        #formulaire_Inscription {
            font-size:2em;
            width: 70%
        }


        form p {
            width: fit-content;
        }

        input,
        select {
            font-size:1em;
            height: 5vh;
            width: 40vw;
        }

        input[type="submit"] {
            font-size: 1em;
            height: 50px;
            border-radius: 10%/80%;
        }


        textarea {
            height: 30vh;
            width: 60vw;
        }

        #contenu1_Contact{
        justify-content:unset;
        height: 288vh;
        }

        #contenu1_Inscription {
            justify-content:unset;
            height: 288vh;
        }

        .bouton_inscription {
            border-radius: 50% / 50%;
            height: 50px;
            width: 50px;
            margin-top: 25px;
            margin-left: -80vw;
        }



    }



.tailleDIV{
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.tailleFooter{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: center;
}
#contenu1_APropos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100vw;
    background-color: white;
}
#contenu2_APropos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100vw;
    background-color: #ff249B;
}

.section_contenu_contact{
    width: 100vw;
    height: 1200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_accueil{
    font-size: 1.5em;
}

.mabite{
    height: 600px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}